<div class="grid-container">
  <header class="header"></header>
  <aside class="sidenav">
    <ul class="sidenav__list">
      <li class="sidenav__list-item"><a routerLink="/">Home</a></li>
      <li class="sidenav__list-item"><a routerLink="/currently-reading">Currently Reading</a></li>
      <li class="sidenav__list-item"><a routerLink="/guitars">Guitars</a></li>
      <li class="sidenav__list-item"><a routerLink="/signalr-test">SignalR Test</a></li>
    </ul>
  </aside>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer"></footer>
</div>
